1.What are data structures, and why are they important.
    -Data structures organize, store, and manage data efficiently. They help optimize operations like search, insert, and delete. They are crucial for writing clean and fast programs.


2. Explain the  Difference between mutable and immutable data types with examples.
    -Mutable types (like lists) can be changed after creation.Immutable types  (like strings, tuples) cannot be modified.
Example: list[0] = 2 works, but tuple[0] = 2 raises an error.

3.what are the main Differences between lists and tuples in Python?
    -Lists are mutable, can grow/shrink, and are slower. Tuples are immutable, fixed-size, and slightly faster due to their immutability.

4.Describe how dictionaries store data.
     -Dictionaries store data as key-value pairs using a hash table. Keys are hashed for fast lookups.
     
 5.Why might you use a set instead of a list in Python?
     -Sets automatically remove duplicates and offer faster membership checks. Lists allow duplicates and maintain order.

6.What is a string in Python, and how is it different from a list?
     -A string is an immutable sequence of characters. Lists are mutable sequences that can hold any data type.

7.How do tuples ensure data integrity in Python?
     -Tuples are immutable, so their contents cannot be altered accidentally, making them ideal for fixed data.

8.What is a hash table, and how does it relate to dictionaries in Python?
     -A hash table maps keys to values using a hash function. Python dictionaries are implemented as hash tables.

9.Can lists contain different data types in Python?
      -Yes, Python lists can store mixed data types e.g., int, str, list, etc.

10.Explain why strings are immutable in Python?
       -Immutability makes strings safe for hashing, sharing, and improves performance by avoiding unintended changes.

11.What advantages do dictionaries offer over lists for certain tasks?
       -Dictionaries provide fast key-based lookup. Lists require iteration to find specific values.

12.Describe a scenario where using a tuple would be preferable over a list.
        -Use a tuple for fixed data like coordinates or days of the week to prevent accidental modification

13.How do sets handle duplicate values in Python.
        -Sets automatically remove duplicate elements and store only unique values.

14.How does the “in” keyword work differently for lists and dictionaries.
        -In lists, it checks for values; in dictionaries, it checks for keys.

15.Can you modify the elements of a tuple? Explain why or why not.
        -No, tuples are immutable, so their elements can't be changed after creation

16.What is a nested dictionary, and give an example of its use case?
         -A nested dictionary is a dict within a dict. Example: storing student data like { "John": {"math": 90, "science": 85} }.

17.Describe the time complexity of accessing elements in a dictionary.
         -Dictionary key access is on average O(1) time complexity due to hashing.

18.In what situations are lists preferred over dictionaries?
        -Use lists when order matters or when you only need sequential data without key-value mapping.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
       -Older Python versions (<3.7) didnot preserve insertion order. Retrieval is by key, not position.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
       -Lists retrieve data by index position (e.g., my_list[0]).
Dictionaries retrieve data by key (e.g., my_dict["key"]).

1.Write a code to create a string with your name and print it.

In [1]:
name = "Falak naseem"
print(name)

Falak naseem

2.Write a code to find the length of the string "Hello World".

In [2]:
print(len("Hello World"))

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

4.Write a code to convert the string "hello" to uppercase.

In [4]:
print("hello".upper())

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
tup = (10, 20, 5, 15)
print(min(tup))

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
    print("kiwi is in the tuple.")
else:
    print("kiwi is not in the tuple.")

kiwi is in the tuple.

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [28]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the.

In [30]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[5, 6, 22, 37, 61]

28.Write a code to create a list with strings and print the element at the third index.

In [31]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

29.Write a code to combine two dictionaries into one and print the result.

In [32]:
a = {"x": 1, "y": 2}
b = {"z": 3}
combined = {**a, **b}
print(combined)

{'x': 1, 'y': 2, 'z': 3}

30.Write a code to convert a list of strings into a set.

In [33]:
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}